build/
out/
cmake-build-*/

*.pro.user
*.qbs.user
CMakeLists.txt.user
.qtcreator/

cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

*.exe
*.so
*.dylib
*.app/
*.zip

*.o
*.obj

moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.qm

.DS_Store
.DS_Store?
Thumbs.db
desktop.ini